.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  margin-top: 20px;
  font-size: large;
}

.list-unstyled {
  list-style-type: none;
  text-align: left;
}

.list-box {
  border: 1px solid #dddddd;
  width: 500px;
  height: 300px;
  overflow-y: auto;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.list-item-checkbox {
  margin-right: 10px;
}

.checked-items {
  display: inline;
  margin-left: 50px;
  margin-right: 50px;
  list-style-type: none;
}
.checked-box {
  margin-left: 50px;
  margin-right: 50px;
}
.checked-item {
  float: left;
  margin-right: 10px;
}
.list-container {
  display: block;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
